/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
* {
  box-sizing: border-box;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* LAYOUT
/*******************************************/
body {
  text-align: center;
  font-size: 1.3rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 150vh;
  background: linear-gradient(rgb(101, 176, 101), white);
}

h2 {
  margin-bottom: 0;
}

img {
  display: block;
  margin: 0 auto;
  max-height: 300px;
}

input {
  width: 200px;
}

button {
  margin: 20px auto;
  display: block;
}

table {
  margin: 20px auto;
}

table,
th,
td {
  border: 1px solid;
  background-color: aliceblue;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
